---
name: Test Director
port: 8081

logging:
  level: ERROR

redis:
  host: 127.0.0.1
  port: 63790
  password:

dir: /tmp/boshdir
db:
  adapter: sqlite
  database: '/:memory:'
  connection_options:
    max_connections: 32
    pool_timeout: 10
blobstore:
  provider: simple
  options:
    endpoint: http://127.0.0.1
    user: admin
    password:
compiled_package_cache:
  provider: local
  options:
    blobstore_path: /path/to/some/bucket
snapshots:
  enabled: false
scan_and_fix:
  auto_fix_stateful_nodes: false
cloud:
  plugin: dummy
  properties:
    dir: ...
     # to be added
backup_destination:
  provider: s3
  options:
    bucket_name: foo
    access_key_id: asdf
    secret_access_key: zxcv
user_management:
  provider: local
  local:
    users:
    - {name: admin, password: admin}
