# From Bosh::Cli::Command::Release#git_init
# ...with modifications.
.DS_Store
.blobs
.dev_builds
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
.idea
.ruby-version
*.swp
*~
*#
#*
blobs
config/dev.yml
config/private.yml
dev-releases
dev_releases
releases/*.tgz
