export GOPATH=$PWD/src/go
export PATH=$PWD/src/go/bin:$PATH
export PATH=$PWD/bin:$PATH

if [ ! -f $PWD/.git/hooks/pre-commit ]; then
  ln -s $PWD/git-hooks/pre-commit $PWD/.git/hooks/pre-commit
fi


if command -v lorri &> /dev/null; then
   eval "$(lorri direnv)"
fi
