[submodule "go_agent/src/github.com/stretchr/testify"]
	path = go_agent/src/github.com/stretchr/testify
	url = https://github.com/stretchr/testify.git
[submodule "go_agent/src/github.com/stretchr/objx"]
	path = go_agent/src/github.com/stretchr/objx
	url = https://github.com/stretchr/objx.git
[submodule "go_agent/src/github.com/cloudfoundry/yagnats"]
	path = go_agent/src/github.com/cloudfoundry/yagnats
	url = https://github.com/cloudfoundry/yagnats.git
[submodule "go_agent/src/github.com/cloudfoundry/gosigar"]
	path = go_agent/src/github.com/cloudfoundry/gosigar
	url = https://github.com/cloudfoundry/gosigar.git
