[submodule "go/src/github.com/cloudfoundry/bosh-agent"]
	path = go/src/github.com/cloudfoundry/bosh-agent
	url = https://github.com/cloudfoundry/bosh-agent.git
[submodule "bat"]
	path = bat
	url = https://github.com/cloudfoundry/bosh-acceptance-tests.git
