*.rbc
*.swp
*~
.DS_Store
\#*\#
.\#*
._*
.bundle
.fly_run
.idea
*.iml
*.iml.bak
*.iml.new
.pt
.stemcell_builds/public_stemcell_config.yml
.tags
.vagrant
.yardoc
src/go/src/github.com/cloudfoundry/bosh-agent
src/postgresql.dump.sql
src/postgresql.tables.txt

Checkfile
TAGS

aws_rds_receipt.yml
aws_route53_receipt.yml
aws_vpc_receipt.yml

create-rds-output*.yml
create-vpc-output*.yml

/src/go/bin/
/src/go/gobin/
/src/go/src/code.google.com/p/go.tools
/src/go/src/golang.org
/src/go/src/github.com/golang

pkg/

**/*/private.yml

.blobs
.dev_builds
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
.idea
blobs
config/dev.yml
config/private.yml
dev_releases
releases/*.tgz
releases/**/*.tgz

/*/spec/reports/
/spec/reports
spec.log
spec/assets/**/*.pid
spec/assets/**/elb-cfrouter.*
spec/assets/*.db
spec/assets/*.pid
spec/assets/bosh_config.yml
spec/assets/test_release
spec/assets/test_release/.dev_builds
spec/assets/test_release/config/dev.yml
spec/assets/test_release/config/final.yml
spec/assets/test_release/dev_releases
spec/assets/compiled_releases/test_release/.dev_builds
spec/assets/compiled_releases/test_release/config/dev.yml
spec/assets/compiled_releases/test_release/dev_releases
spec_coverage
spec_reports

**/tmp
coverage/
