[submodule "src/go/src/github.com/cloudfoundry/bosh-agent"]
	path = src/go/src/github.com/cloudfoundry/bosh-agent
	url = https://github.com/cloudfoundry/bosh-agent.git
[submodule "src/go/src/github.com/nats-io/gnatsd"]
	path = src/go/src/github.com/nats-io/gnatsd
	url = https://github.com/nats-io/gnatsd.git
