.DS_Store
.bundle
.idea

**/*/private.yml
.blobs
.dev_builds
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
blobs
config/dev.yml
config/private.yml
dev_releases
releases/*.tgz
releases/**/*.tgz

src/bosh-agent/
src/postgresql.dump.sql
src/postgresql.tables.txt
src/parallel_runtime_rspec.log
src/vendor/cache/extensions/*

**/tmp
coverage/

spec/assets/**/*.pid
spec/assets/**/elb-cfrouter.*
spec/assets/*.db
spec/assets/*.pid
spec/assets/bosh_config.yml

spec/assets/compiled_releases/test_release/.dev_builds
spec/assets/compiled_releases/test_release/config/dev.yml
spec/assets/compiled_releases/test_release/dev_releases
