*~
.idea
TAGS
\#*\#
.\#*
.bundle
.yardoc
doc
cov
spec_reports
spec_coverage
spec.log
*.rbc
*.swp
.rvmrc
.DS_Store
spec/assets/*.pid
spec/assets/*.db
spec/assets/**/*.pid
spec/assets/bosh_config.yml
spec/assets/test_release
agent/spec/tmp
cli/pkg
monit_api/pkg
blobstore_client/pkg
common/pkg
cpi/pkg
deployer/pkg
vsphere_cpi/pkg
aws_cpi/pkg
aws_registry/pkg
package_compiler/pkg
spec/assets/test_release/dev_releases
spec/assets/test_release/.dev_builds
spec/assets/test_release/config/dev.yml
spec/assets/test_release/config/final.yml
director/director.db
micro/tmp
health_monitor/spec/assets/dev*.yml
ci_result/
**/vendor/bundle/
