[receive]
	requireChangeId = true
[access "refs/heads/*"]
	owner = group Administrators
	read = group Administrators
	create = group Administrators
	forgeAuthor = group Administrators
	forgeCommitter = group Administrators
	forgeServerAsCommitter = group Administrators
	push = group Administrators
	pushMerge = group Administrators
	pushTag = group Administrators
	submit = group Administrators
