---
platform: linux
image: docker:///boshcpi/aws-cpi-release
inputs:
- name: bosh-src
- name: setup-director
run:
  path: bosh-src/ci/pipelines/global-net-bats/tasks/teardown-director.sh
params:
  BOSH_INIT_LOG_LEVEL:        warn
