---
platform: linux

image_resource:
  type: docker-image
  source:
    repository: bosh/compiled-release

inputs:
  - name: director-state
  - name: bosh-src

run:
  path: bosh-src/ci/bats/tasks/destroy-director.sh
