[Daemons]
accounts_daemon = true
clock_skew_daemon = true
ip_forwarding_daemon = true
[InstanceSetup]
network_enabled = true
optimize_local_ssd = true
set_host_keys = false
shutdown = false
startup = false
