---
platform: linux

inputs:
- name: bosh-ci
- name: bosh
- name: verify-multidigest-cli

outputs:
- name: bosh

run:
  path: bosh-ci/ci/tasks/bump-verify-multidigest-cli.sh

params:
  PRIVATE_YML:
  GIT_USER_NAME:
  GIT_USER_EMAIL:
