---
platform: linux

inputs:
- name: bosh-ci
- name: bosh
- name: bosh-blobstore-cli

outputs:
- name: bosh

run:
  path: bosh-ci/ci/tasks/bump-blobstore-cli.sh

params:
  BLOBSTORE_TYPE:
  PRIVATE_YML:
  GIT_USER_NAME:
  GIT_USER_EMAIL:
