---
platform: linux

image_resource:
  type: docker-image
  source:
    repository: ubuntu
    tag: xenial

inputs:
  - name: bosh-src
  - name: bosh-src-dockerfiles
  - name: bosh-deployment
  - name: bosh-cli

run:
  path: bosh-src/ci/tasks/prepare-container-docker-cpi-build-context.sh

outputs:
  - name: docker-build-context

