---
platform: linux

image_resource:
  type: registry-image
  source:
    repository: bosh/integration

inputs:
  - name: bosh-src
  - name: bosh-dns-release
  - name: stemcell
  - name: bosh-release
  - name: database-metadata
    optional: true
  - name: gcp-ssl-config
    optional: true
  - name: bosh-deployment
    optional: true

run:
  path: bosh-src/ci/tasks/test-brats.sh

params:
  FOCUS_SPEC: ""
  RDS_MYSQL_EXTERNAL_DB_USER: replace-me
  RDS_MYSQL_EXTERNAL_DB_PASSWORD: replace-me
  RDS_MYSQL_EXTERNAL_DB_NAME: replace-me
  RDS_POSTGRES_EXTERNAL_DB_USER: replace-me
  RDS_POSTGRES_EXTERNAL_DB_PASSWORD: replace-me
  RDS_POSTGRES_EXTERNAL_DB_NAME: replace-me
  GCP_MYSQL_EXTERNAL_DB_USER: replace-me
  GCP_MYSQL_EXTERNAL_DB_PASSWORD: replace-me
  GCP_MYSQL_EXTERNAL_DB_NAME: replace-me
  GCP_POSTGRES_EXTERNAL_DB_USER: replace-me
  GCP_POSTGRES_EXTERNAL_DB_PASSWORD: replace-me
  GCP_POSTGRES_EXTERNAL_DB_NAME: replace-me
  GCP_PRIVATE_NETWORK_NAME: replace-me
  STEMCELL_OS: ""
