---
platform: linux

inputs:
- name: bosh-ci
- name: stemcell
- name: bosh-release
- name: bosh-disaster-recovery-acceptance-tests
- name: bbr-cli-binary
- name: bosh-deployment
  optional: true

run:
  path: bosh-ci/ci/tasks/test-bdrats.sh
