---
platform: linux

inputs:
  - name: bosh-ci
  - name: bosh
  - name: bosh-cli
    optional: true
  - name: bosh-agent
    optional: true
  - name: config-server
    optional: true

run:
  path: bosh-ci/ci/tasks/test-rake-task.sh

params:
  COVERAGE:          true
  DB:
  RAKE_TASK:
  SPEC_PATH:         ~
  SHA2_MODE:         ~
  UPDATE_VM_STRATEGY: delete-create
