---
platform: linux

image_resource:
  type: docker-image
  source:
    repository: bosh/main

inputs:
- name: bosh-src
- name: bosh-cli
- name: bosh-agent
- name: integration-tests-parallel-runtime

outputs:
- name: parallel-runtime-log

run:
  path: bosh-src/ci/tasks/test-integration-gocli.sh

params:
  RUBY_VERSION:            2.4.4
  DB:                      replace-me
  LOG_LEVEL:               ERROR
  SPEC_PATH:               ~
  SHA2_MODE:               ~
  DB_TLS:                  false
  DEFAULT_UPDATE_VM_STRATEGY: "delete-create"
