---
platform: linux

inputs:
  - name: bosh-ci
  - name: director-state
  - name: terraform

params:
  STEMCELL_NAME:

outputs:
  - name: bats-config

run:
  path: bosh-ci/ci/bats/iaas/gcp/prepare-bats-config.sh
