out
gobin/*
.idea
.vagrant

/tmp/

*\.test
*.coverprofile

*.sublime-workspace
*.sw*

test/bosh/*.json
test/micro_bosh

*.bundle
*.iso
*.exe
*.ovf
*.vmdk
*.box
*metadata.json
*.log
bin/bosh-agent

# Ignore symlinks https://github.com/golang/dep/issues/1625 for more context
vendor/github.com/bmatcuk/doublestar/test/*

./var
