---
platform: linux

image_resource:
  type: docker-image
  source:
    repository: bosh/compiled-release

inputs:
  - name: bosh-src
  - name: director-state
  - name: stemcell
  - name: release

outputs:
  - name: compiled-release

run:
  path: bosh-src/ci/pipelines/compiled-releases/tasks/export-release.sh
