.blobs
.dev_builds
.idea
.DS_Store
.final_builds/**/*.tgz
*.swp
*~
*#
#*
blobs
config/dev.yml
config/private.yml
dev-releases
dev_releases
jobs/micro_*/monit
jobs/micro_*/spec
jobs/micro_*/templates/
releases/*.tgz
releases/**/*.tgz
src/bosh/*
