#deployments.block
  .header 
    .title Deployments
    .loader Updating deployments list...    
  .body
    %table(cellpadding=0 cellspacing=0)

#stemcells.block
  .header 
    .title Stemcells
    .loader Updating stemcells list...
  .body
    %table(cellpadding=0 cellspacing=0)

#releases.block
  .header 
    .title Releases
    .loader Updating releases list...    
  .body
    %table(cellpadding=0 cellspacing=0)


