%form(action="/login" method="post")
  %label
    Target:
    %input(type="text" name="target")
  %label
    Username:
    %input(type="text" name="username")
  %label
    Password:
    %input(type="password" name="password")

  %input(type="submit" value="Login")