name: go
on: [push, pull_request]

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-go@v6
      with:
        go-version-file: src/brats/go.mod
    - uses: golangci/golangci-lint-action@v9
      with:
        working-directory: src/brats/
